.widget-title {
    height: 37px;
    display: flex;
    align-items: center;
    align-self: start;
    gap: 6px;

    margin: calc(var(--header-h) * 1) 0 0;
    padding: 0 12px 0 21px;

    background:
        url("/img/arrow_r_bluelight.svg") no-repeat left center / auto 21px,
        var(--cpn-blue);
    color: var(--white);

    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.posts {
    .post-card:nth-child(odd) {
        background: var(--gray-d0);
    }
}

.post-card {
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
    /* align-items: center; */
    align-items: end;
    justify-content: center;
    /* padding: var(--gutter-y) var(--gutter-x) calc(var(--gutter-y) * 2); */
    padding: calc(var(--gutter-y) * 0.5) var(--gutter-x)
        calc(var(--gutter-y) * 1);
    text-decoration: none;
    border-top: 1px solid var(--cpn-blue);

    &__title {
        align-self: start;
        /* text-align: center; */
        /* text-transform: uppercase; */
        margin: 6px 0;
        font-size: var(--font-root);
        font-family: "Open Sans Bold";

        strong {
            color: var(--cpn-blue-light);
        }
    }

    &__img {
        /* display: none; */
        width: 58%;
        margin: 24px auto;

        $arc-width: 5px;

        position: relative;

        & > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -$arc-width;
            left: -$arc-width;
            width: calc(100% + 0px);
            height: calc(100% + 0px);
            border-radius: 50%;
            border: $arc-width solid transparent;
            pointer-events: none;

            border-left-color: var(--cpn-blue-light);
            transform: rotate(-45deg);
            /* animation: rotate-right 0.5s cubic-bezier(0.27, 1.11, 0.65, 1.35)
                0.5s 1 forwards; */
        }

        &.on {
            &::before {
                animation: rotate-right 0.5s
                    cubic-bezier(0.27, 1.11, 0.65, 1.35) 0.5s 1 forwards;
            }
        }
    }

    &__p {
        /* flex-basis: 150px; */
        flex-grow: 2;
        /* display: none; */
    }

    &__read {
        /* display: none; */
        /* display: flex; */
        align-items: center;
        gap: 6px;
        padding: 0 36px 0 21px;
        /* margin: 0 0 calc(var(--gutter-y) * 2) var(--gutter-x); */
        margin: 24px 0 0;
        height: 21px;
        background: url("/img/arrow_r_bluelight.svg") no-repeat left center /
            auto 21px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: var(--font-m-s);
    }
}

.related-posts {
    .post-card__img,
    .post-card__p,
    .post-card__read {
        display: none;
    }
}

@media (min-width: $bp-medium) {
    .all-tags + .widget-title {
        display: none;
    }

    .tag {
        &:hover {
            color: var(--cpn-blue-light);
        }
    }

    .widget-title {
        height: 62px;
        margin: calc(var(--header-h) + 50px) 0 0 0;
        padding: 0 21px 0 42px;
        background:
            url("/img/arrow_r_bluelight.svg") no-repeat left center / auto 38px,
            var(--cpn-blue);
        font-size: 18px;
    }

    .posts {
        /* overflow-x: hidden; */
        /* overflow-y: unset; */

        .post-card:nth-child(odd) {
            background: none;
        }
    }

    .post-card {
        display: grid;
        grid-template-columns: 254px 1fr;
        grid-template-rows: 1fr auto 1fr;

        gap: 0 36px;
        padding: var(--gutter-y) var(--gutter-x) calc(var(--gutter-y) * 0.5);
        /* border-bottom: 1px solid var(--cpn-blue); */
        box-shadow:
            0px 10px 10px -10px rgba(59, 185, 205, 0.25),
            0px 5px 5px -5px rgba(0, 86, 141, 0.5);
        /* box-shadow:
            0px 10px 10px -10px rgba(0, 0, 0, 0.5),
            0px 5px 5px -10px rgba(0, 0, 0, 0.5); */
        /* box-shadow:
            10px 20px 20px rgba(0, 0, 0, 0.1),
            2px 5px 5px rgba(0, 0, 0, 0.25); */
        border-top: none;

        &__title {
            grid-column: 2;
            justify-self: start;
            align-self: end;
            text-align: left;
            text-transform: none;
            font-size: var(--font-l);
            font-family: "Open Sans SemiBold";
        }

        &__img {
            /* display: block; */
            $arc-width: 10px;
            grid-column: 1;
            grid-row: 1/4;
            width: 100%;

            &::before {
                top: -$arc-width;
                left: -$arc-width;
                border: $arc-width solid transparent;
                border-left-color: var(--cpn-blue-light);
            }
            & > img {
                /* width: 254px; */
            }
        }

        &__p {
            /* display: block; */
            grid-column: 2;
            /* margin: 0; */
        }

        &__read {
            /* background: pink !important; */
            /* display: flex; */
            grid-column: 2;
            margin: 24px 0 0 0;
            padding: 0 0 0 36px;
            align-self: start;
            justify-self: start;

            height: 37px;
            background: url("/img/arrow_r_bluelight.svg") no-repeat left
                center / auto 37px;
            font-size: var(--font-m);
            transition: all 0.15s ease-in-out;

            &:hover {
                background: url("/img/arrow_r_blue.svg") no-repeat -2px center /
                    auto 37px;
                color: var(--cpn-blue-light);
            }
        }
    }

    .related-posts {
        .post-card {
            border-top: none;
        }
        .post-card__img,
        .post-card__p,
        .post-card__read {
            display: flex;
        }
    }
}
