.header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--header-h);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background: var(--white);
    /* background: green; */
    transition: transform 0.5s;

    &.hidden {
        transform: translateY(-250px);
    }

    &__logo {
        display: inline-block;
        box-sizing: border-box;
        font-size: 0;
        transform: translateY(5px);

        &__img {
            height: 35px;
            margin: 0 0 0 24px;
        }
    }

    &__call-menu {
        position: fixed;
        top: 20px;
        left: calc(100vw - (35px + 20px));
        cursor: pointer;

        &-icon {
            height: 25px;
        }
    }
}

.nav {
    flex-grow: 2;
    display: flex;
    align-items: center;

    // Mobile
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba($color: #fff, $alpha: 0.9);
    transform: translateX(150vw);
    transition: transform 0.35s;

    &.visible {
        transform: translateX(0);
    }

    &__ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;

        // Mobile
        flex-direction: column;

        &__li {
            padding: 20px;

            a {
                text-transform: uppercase;
                color: var(--cpn-blue);
                text-decoration: none;
                font-size: var(--font-m-l);
                font-family: "Open Sans Bold";
                /* font-weight: bold; */
            }

            &.active {
                a {
                    color: var(--cpn-blue-light);
                }
            }

            &--quote {
                a {
                    color: var(--cpn-blue-light);
                }
            }
        }
    }
}

@media (min-width: $bp-mobile) {
    .nav {
        position: static;
        width: auto;
        height: auto;
        justify-content: center;

        &__ul {
            flex-direction: row;
        }
    }
}

@media (min-width: $bp-medium) {
    .header {
        display: flex;
        justify-content: center;
        left: 0;
        width: var(--body-max-width);
        height: var(--header-h);
        box-shadow:
            0 20px 30px rgba(0, 0, 0, 0.2),
            0 5px 25px rgba(0, 0, 0, 0.1),
            0 3px 2px rgba(0, 0, 0, 0.1);
        padding: 0 calc((100vw - var(--body-max-width)) / 2);

        &__logo {
            transform: translateY(calc(20px + 8.23%));
            padding: 0 50px 50px 0;
            margin: -20px 0 0 0;

            &__img {
                height: 70px;
            }
        }

        &__call-menu {
            display: none;
        }
    }

    .nav {
        flex-grow: 0;
        position: static;
        transform: none;
        justify-content: start;

        &__ul {
            &__li {
                padding: 21px 30px 0;

                a {
                    &:hover {
                        color: var(--cpn-blue-light);
                    }

                    &.active {
                        color: var(--cpn-blue-light);
                    }
                }

                /* &:last-child {
                    padding: 30px 0 20px 100px;
                } */

                &--quote {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: $bp-medium) {
    .nav {
        &__ul {
            &__li {
                a {
                    font-size: 17px;
                }
            }
        }
    }
}

@media (min-width: $bp-hd) {
}
