.offer {
    background: var(--cpn-blue);
    padding: 30px 50px 0;
    color: var(--white);

    &__title {
        text-transform: uppercase;
        margin: 0;
        padding: 55px 0 0;
        background: url("../img/logo_bars.svg") no-repeat top center / 15% auto;
        font-size: var(--font-m-xl);

        strong {
            font-family: "Open Sans Bold";
            color: var(--cpn-blue-light);
        }
    }

    &__amount {
        display: block;
        font-family: "Open Sans Bold";
        font-size: var(--font-xl);
        text-transform: uppercase;
        font-weight: 800;
    }

    .small {
        display: block;
        margin: 30px -50px;
        white-space: nowrap;
        text-align: center;
    }
}

.offer {
    /* grid-area: 1 / 2 / 2 / 3; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        flex-grow: 1;
        margin: 24px 0 -72px;
        padding: 72px 0 0;
        justify-content: end;
        font-size: var(--font-xxl);
        font-weight: 300; // TODO marche avec gecko
        background: url("../img/logo_bars.svg") no-repeat top center / 10% auto;
    }

    .t1 {
        /* font-size: var(--font-l); */
    }

    .t2 {
        /* font-size: var(--font-m); */
    }

    &__amount {
        font-size: var(--font-xxl);
        /* font-weight: 800; */
    }

    .p {
        /* background: red; */
        flex-grow: 1;
        justify-content: end;
        display: flex;
        flex-direction: column;
    }

    .small {
        font-size: var(--font-s);
        padding: 0 0 24px;
    }
}

@media (min-width: $bp-medium) {
}
