@import "sass_vars";

.widget-title {
    height: 62px;
    display: flex;
    align-items: center;
    align-self: start;
    gap: 6px;

    margin: calc(var(--header-h) * 1) 0 0;
    padding: 0 21px 0 42px;

    background:
        url("/img/arrow_r_bluelight.svg") no-repeat left center / auto 38px,
        var(--cpn-blue);
    color: var(--white);

    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.post {
    padding: var(--gutter-y) var(--gutter-x);
    /* height: 50vh; */
    /* background: greenyellow; */
    /* display: grid; */
    /* grid-template-columns: 45% 1fr; */
    /* gap: 0 37px; */

    &__title,
    &__date {
        grid-column: -1/1;
    }

    &__pict {
        grid-column: 1;
        grid-row: 3/99;
        &__img {
            grid-column: 1;
            grid-row: -1/1;
            width: 100%;
            /* width: 45%; */
            height: 100%;
            /* object-fit: cover; */
            /* float: left; */
            /* margin-right: 37px; */
        }
    }

    &__summary {
        grid-column: 2;
    }

    &__text {
        grid-column: 2;
    }

    &__author {
        grid-column: 2;
    }
}

@media (min-width: $bp-medium) {
    .widget-title {
        /* display: inline-block; */
        margin: calc(var(--header-h) * 2) 0 var(--header-h);
        /* padding:  */
        /* background: var(--cpn-blue); */
        /* color: var(--white); */
    }
    .post {
        padding: var(--header-h) var(--gutter-x) 0;
        /* height: 50vh; */
        /* background: greenyellow; */
        display: grid;
        grid-template-columns: 45% 1fr;
        gap: 0 37px;

        &__title,
        &__date {
            grid-column: -1/1;
        }

        &__pict {
            grid-column: 1;
            grid-row: 3/99;
            &__img {
                grid-column: 1;
                grid-row: -1/1;
                width: 100%;
                /* width: 45%; */
                height: 100%;
                /* object-fit: cover; */
                /* float: left; */
                /* margin-right: 37px; */
            }
        }

        &__summary {
            grid-column: 2;
        }

        &__text {
            grid-column: 2;
        }

        &__author {
            grid-column: 2;
        }
    }
}
