@import "sass_vars";
@import "blog-common";

.all-tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    display: none;

    &__item {
        &::before {
            content: "#";
        }
    }
}

.tags {
    &__title {
        /* height: 50vh; */
        /* padding: var(--header-h) 0; */
        /* background: pink; */
        padding: 0 0 0 36px;
        font-size: var(--font-m-xxl);

        &:before {
            content: "Articles taggés #";
        }
    }

    &__count {
        padding: 0 0 24px 36px;
    }
}

.hero {
    margin: var(--header-h) 0 0;

    &__title {
        display: block;
        margin: 0 0 24px;
        font-size: var(--font-m-xxl);
        text-transform: uppercase;
        text-align: center;

        strong {
            color: var(--cpn-blue-light);
        }

        &::before {
            content: "";
            display: block;
            height: 61px;
            width: 100vw;
            background: url(../img/logo_bars3.svg) no-repeat center / 51px 51px;
            position: relative;
        }
    }

    &__content {
        padding: calc(var(--gutter-y) * 1.5) calc(var(--gutter-x) * 2)
            calc(var(--gutter-y) * 2);
        background:
            url(../img/stroke2m.svg) no-repeat right 20px / 135%,
            var(--cpn-blue);
        color: var(--white);

        &__h1 {
            text-align: center;
            font-size: var(--font-m-l);
            margin: 0;
        }

        &__p {
            text-align: center;
            strong {
                color: var(--cpn-blue-light);
            }
        }
    }
}

.load-more {
    width: 325px;
    margin: 34px auto;

    &__text {
        text-align: center;
    }

    &__progress {
        width: 100%;
        height: 5px;
        margin: 17px 0;
    }

    &__fill {
        height: 100%;
        background: var(--cpn-blue-light);
        border-radius: 2px;
        transition: width 0.3s ease;
    }

    &__btn {
        font-family: "Open Sans SemiBold";
        font-size: 18px;
        font-weight: 600;
        color: var(--white);
        border: 1px solid transparent;
        width: 325px;
        height: 60px;
        padding: 0 45px;
        border-radius: 10px;
        background: var(--cpn-blue);
        cursor: pointer;
        transition: all 0.35s;

        &.disapear {
            opacity: 0;
            pointer-events: none;
        }
    }
}

@media (min-width: $bp-medium) {
    .all-tags {
        max-width: 60%;
    }

    .hero {
        &__title {
            margin: 48px 0 0;
            font-size: var(--font-xxl);

            &::before {
                display: inline-block;
                content: "";
                height: 54px;
                width: 54px;
                background: url(../img/logo_bars3.svg) no-repeat bottom center /
                    41px 41px;
                position: relative;
                bottom: -2px;
                left: -15px;
            }
        }

        &__content {
            padding: calc(var(--gutter-y) * 1) calc(var(--gutter-x) * 3);
            background: url("../img/stroke-blue.svg") no-repeat center center;
            background-size: contain;
            font-size: var(--font-l);
            color: var(--cpn-blue);

            &__h1 {
                font-size: var(--font-l);
            }
        }
    }
}
