@import "sass_vars";

@keyframes sweep {
  0% {
    transform: translateX(100%) translateY(100%) rotate(45deg);
  }
  100% {

    transform: translateX(-100%) translateY(-100%) rotate(45deg);
  }
}

@keyframes show-up {
  0% {
      width: 0;
  }
  100% {
      width: 100vw;
  }
}

@keyframes show-up-rot {
  0% {
      transform: rotateZ(-20deg);
  }
  100% {
      transform: rotateZ(0deg);
  }
}

.body {
    overflow-x: hidden;
}

.design {
    display: none;
}


.hero {
    margin: var(--header-h) 0 0;

    &__title {
        display: block;
        font-size: var(--font-m-xxl);
        text-transform: uppercase;
        text-align: center;
        color: var(--white);
        background: var(--cpn-blue);
        padding: 20px 0;

        strong {
            color: var(--cpn-blue-light);
        }

        &::before {
            content: "";
            display: block;
            height: 61px;
            width: 100vw;
            background: url(../img/logo_bars.svg) no-repeat center / 51px 51px;
            /* background: url(../img/logo_bars3.svg) no-repeat center / 51px 51px; */
            position: relative;
        }
    }

    &__h1 {
        margin: 0 0 -1px;
        background: var(--cpn-blue-light);
        padding: calc(var(--gutter-y) * 1.5) calc(var(--gutter-x) * 1)
            calc(var(--gutter-y) * 0);
        text-align: center;
        color: var(--white);
        font-size: var(--font-m-l);
    }

    &__intro {
        background: var(--cpn-blue-light);
        padding: calc(var(--gutter-y) * 1.5) calc(var(--gutter-x) * 2)
            calc(var(--gutter-y) * 2);
            text-align: center;
    }

    &__expend {
        &__title {
            height: 60px;
            padding: 0 70px 0 24px;
            margin: 0;
            box-sizing: border-box;

            display: flex;
            align-items: center;

            background: #e2e2e2 url(/img/arrow_r_bluelight.svg) no-repeat
                calc(100% - 40px) center;
            background-size: auto 21px;
            /* border-bottom: 5px solid var(--white); */

            font-size: 17px;
            font-family: "Open Sans Bold";
            color: var(--cpn-blue);

            &.active {
                background: #e2e2e2 url(/img/arrow_d_bluelight.svg) no-repeat
                    calc(100% - 40px) center;
                background-size: auto 21px;
            }
        }

        /* &:nth-child(1) {
            .hero__expend__title {
                background: green !important;
            }
        } */

        &__p {
            padding: calc(var(--gutter-y) * 1.5) calc(var(--gutter-x) * 1)
                calc(var(--gutter-y) * 1.5);

            background: var(--cpn-blue-light);
            color: var(--white);
            border-bottom: 5px solid var(--white);

            overflow: hidden;
            max-height: none;
            transition: all 0.3s ease;

            box-sizing: border-box;

            ul {
                margin: 0;
                padding: 0 0 0 calc(var(--gutter-x) * 0.75);
            }

            &.hidden {
                padding: 0 calc(var(--gutter-x);
                max-height: 0;
            }
        }
    }
}

.offer {
    background: var(--cpn-blue);
    padding: 30px 50px 0;
    color: var(--white);
    text-align: center;
    text-decoration: none;

    &__title {
        text-transform: uppercase;
        margin: 0;
        padding: 55px 0 0;
        background: url("../img/logo_bars.svg") no-repeat top center / 15% auto;
        font-size: var(--font-m-xl);

        strong {
            font-family: "Open Sans Bold";
            color: var(--cpn-blue-light);
        }
    }

    &__txt1 {
        display: block;
    }

    &__txt2 {
        display: block;
        margin: 30px 0 5px;
        color: var(--cpn-blue-light);
    }

    &__amount {
        display: block;
        font-family: "Open Sans Bold";
        font-size: var(--font-xl);
        text-transform: uppercase;
    }

    &__img {
        width: 70%;
        margin: 48px auto;

        $arc-width: 5px;

        position: relative;

        & > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -$arc-width;
            left: -$arc-width;
            width: calc(100% + 0px);
            height: calc(100% + 0px);
            border-radius: 50%;
            border: $arc-width solid transparent;
            pointer-events: none;

            border-left-color: var(--cpn-blue-light);
            transform: rotate(-45deg);
            animation: rotate-right 0.5s cubic-bezier(0.27, 1.11, 0.65, 1.35)
                0.5s 1 forwards;
        }
    }

    &__cta {
        display: flex;
        justify-content: center;

        &__btn {
            border: none;
            height: 49px;
            display: flex;
            align-items: center;
            justify-content: start;
            box-sizing: border-box;
            gap: 5px;
            padding: 0 20px 0 30px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: var(--font-root);
            background: var(--cpn-blue);

            color: var(--white);
            font-family: "Open Sans SemiBold";

            background:
                url("../img/arrow_r_white.svg") no-repeat left center,
                var(--cpn-blue-light);
            background-size: auto 21px;

            & > strong {
                font-family: "Open Sans Bold";
            }

            &--light {
                &:before {
                    content: none;
                }

                padding: 0 0 0 30px;
                background:
                    url("../img/arrow_r_white.svg") no-repeat left center,
                    var(--cpn-blue-light);
                background-size: auto 21px;
                & > strong {
                    color: var(--white);
                }
            }
        }
    }

    &__p {
        &__small {
            display: block;
            padding: 0 0 18px;
            margin: 30px -50px 0;
            white-space: nowrap;
            text-align: center;
        }
    }

    .t1 {
        /* font-size: var(--font-l); */
    }

    .t2 {
        /* font-size: var(--font-m); */
    }
}

.illustration {
    display: none;
}

.section__customers {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(
        180deg,
        var(--white) 0%,
        var(--white) 50%,
        #edededff 50%
    );

    &::-webkit-scrollbar {
        display: none;
    }

    &__comments {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &__debug_img {
            max-width: 100%;
        }
        &__comment {
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 100%;
            position: relative;
        }
    }

    &__title {
        padding: 20px 0;

        .blue {
            text-transform: uppercase;
        }
    }

    &__container {
        background: #edededff;
    }

    &__roll {
        margin: 0 0 30px 0;
        padding: 0 30px;

        text-align: center;

        &__item {
            font-family: "Open Sans Light";
            font-size: var(--font-root);
            font-weight: 300;
            text-transform: uppercase;
            display: inline-block;
            &:not(:last-child)::after {
                content: " • ";
            }
        }
    }

    &__img-mobile {
        max-width: 100%;
    }
}

.reputation {
    background: var(--cpn-blue);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding: 24px 0;

    /* p {
        margin: 6px;
        color: red;
    } */
}

.title-medium {
    margin: 24px 0;
    padding: 0 48px;
}

.building-types-grid {
  display: grid;
  /* gap: 20px; */
  padding: var(--gutter);

  &__item {
    &__img {
      width: 100%;
      display: block;
    }

    &__span {
      display: block;
      width: 60%;
      height: 40px;
      margin: 0 auto;
      background: var(--cpn-blue-light);
      color: var(--cpn-blue);
      font-family: "Open Sans Bold";
      /* font-size: var(--font-root); */
      display: flex;
      align-items: center;
      justify-content: center;
      /* text-transform: uppercase; */
      transform: translateY(-30px);

      &::before {
        content: "";
        height: 10px;
        width: 10px;
        background: url("../img/title_shadow.svg") no-repeat center center;
        position: absolute;
        bottom: 0;
        left: -10px;
      }
    }

    &--contact {

      box-sizing: border-box;
      margin: -40px 0 0;
      div {
        box-sizing: border-box;
        background: var(--gray-d0);
        padding: calc(var(--gutter-y) * 1) calc(var(--gutter-x) * 2)
          calc(var(--gutter-y) * 1);

        p {
          margin: 20px 0;
        }

        p:nth-child(2) {
          strong {
              color: var(--cpn-blue-light);}
        }
      }

      .building-types-grid__item__span {
        text-decoration: none;
        background: url("../img/logo_bars2.svg") no-repeat 20px center / 20px
            auto,
          var(--cpn-blue-light);

        padding-left: 20px;

        text-transform: uppercase;
        font-family: "Open Sans SemiBold", "Sans-Serif";
        display: flex;
        gap: 5px;

        font-size: 14px;

        // strong {
        //   font-family: "Open Sans SemiBold", "Sans-Serif";
        //   font-weight: bold;
        // }

        span {
          color: var(--cpn-blue);
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: $bp-medium) {

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: var(--cpn-blue-light);

        &__brush {
          position: relative;
           width: 0;
          /* width: 100vw; */
          height: 100vh;
          background: url("/img/ecusson_brush.png") no-repeat left top;
          position: absolute;
          top: 30px;
          left: 0;
          /* transform: translate(calc(var(--gutter-x) * 1 + 166px), -50px); */
          transform: translate(166px, -96px);
          pointer-events: none;
          animation: show-up 0.5s ease-in-out 0.75s 1 forwards;
          /* opacity: 0; */
        }

        &__title {
            grid-column: 1 / -1;
            font-size: var(--font-xxl);
            // margin-bottom: 20px;
            margin: calc(var(--gutter) * 2 + 100px) 0 calc(var(--gutter) * 1);
            padding: calc(var(--gutter-y) * 1) calc(var(--gutter-x) * 2) calc(var(--gutter-y) * 0);

            &::before {
              display: inline-block;
              content: "";
              height: 54px;
              width: 54px;
              background: url(../img/logo_bars.svg) no-repeat bottom center / 41px
                41px;
              position: relative;
              bottom: -2px;
              left: -15px;
            }
        }

        &__h1 {
            margin: 0;
            grid-column: 1 / -1;
            background: var(--cpn-blue);
            padding: calc(var(--gutter-y) * 1) calc(var(--gutter-x) * 1)
                calc(var(--gutter-y) * 1);

            span {
                display: block;
            }
        }

        &__intro {
            grid-row: 3/4;
            margin: 0 0 0 calc(var(--gutter-x) * -2);
            padding: calc(var(--gutter-y) * 1) calc(var(--gutter-x) * 1) calc(var(--gutter-y) * 1) calc(var(--gutter-x) * 0);
            font-size: var(--font-m);
            text-align: left;
        }

        &__expends {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            /* background: red; */
            background: var(--cpn-blue);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__expend {
            grid-column: 2;



            &:not(:nth-child(2n)) {
                /* background: pink; */
                padding: calc(var(--gutter-y) * 0.5) calc(var(--gutter-x) * 0.25) 0;
            }

            &:nth-child(2n) {
                    /* background: red; */
                padding: 0 calc(var(--gutter-x) * 0.25) calc(var(--gutter-y) * 0.5);
            }

            &__title {
                height: auto;
                margin: 12px 0;
                background: var(--cpn-blue);
                color: var(--cpn-blue-light);

                &.first {
                    margin-top: 0;
                }
            }

            &__p {
                background: var(--cpn-blue);
                border-bottom: none;

                ul {
                    padding: 0 24px;
                }

                &.hidden {
                    max-height: none;
                    padding: 0 24px;
                }
            }

        }
    }

    .offer {
        position: relative;
        grid-column: 1/2;
        grid-row: 3/4;

        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start; */

        display: grid;
        grid-template-rows: 40% 20% auto 52px;
        place-items: center;

        z-index: 100;

        width: 332px;
        height: 332px;
        border-radius: 50%;

        box-sizing: border-box;
        margin: -50px 0 -50px calc(var(--gutter-x) * 1);
        box-shadow:
            -10px 10px 60px rgba(0, 0, 0, 0.1),
            -5px 5px 20px rgba(0, 0, 0, 0.2);

        animation: show-up-rot 0.5s cubic-bezier(.35,-1.52,.47,2.89) 0.05s 1 forwards;
        transform: rotateZ(-20deg);

        &__title, &__txt2, &__img, &__cta, &__p {
            display: none;
        }

        &__txt1 {
            padding: 40px 0 20px;
            font-family: "Open Sans Bold";
            font-size: var(--font-l);
            color: var(--cpn-blue-light);
            line-height: 1.25;

            /* background-color: green; */
        }

        &__amount {
            font-size: var(--font-xxl);
            /* background-color: red; */
        }

        &__txt3 {
            display: block;
            /* background-color: green; */
            align-self: start;
        }

        &__standart {
            /* display: none; */
            transform: translateY(-20px);
            width: 171px;
            height: 52px;
            background: url(../img/offre_standard.png) no-repeat center center / 171px
              52px;
        }



        $arc-width: 10px;

        &::after {
            content: "";
            position: absolute;
            top: -$arc-width;
            left: -$arc-width;
            width: calc(100% + 0px);
            height: calc(100% + 0px);
            border-radius: 50%;
            border: $arc-width solid transparent;
            pointer-events: none;

            border-left-color: var(--white);
            transform: rotate(-45deg);
            animation: rotate-right 0.5s cubic-bezier(0.27, 1.11, 0.65, 1.35)
                0.5s 1 forwards;
        }


        &__reflect {
            overflow: hidden;
            /* background: red; */
            width: 332px;
            height: 332px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            z-index: 150;
            pointer-events: none;

            &::before {
                content: '';
                position: absolute;
                top: -50%;
                left: -50%;
                width: 200%;
                height: 200%;
                background: linear-gradient(
                    90deg,
                    transparent 40%,
                    rgba(59, 185, 205, 0.1) 50%,
                    rgba(59, 185, 205, 0.5) 55%,
                    rgba(59, 185, 205, 0.1) 60%,
                    transparent 65%
                );
                animation: sweep 3s ease-in-out infinite;
                pointer-events: none; // N'interfère pas avec les interactions
            }


        }
    }

    .illustration {
        display: block;
        grid-column: 1/2;
        grid-row: 4/5;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .section__customers {
        background: none;


        &__comments {
            width: calc(100% - var(--gutter-x) * 2);
            margin: 0 auto;
            &__comment {
                width: 33.333%;
            }
        }

        &__img-mobile {
            display: none;
        }

        .title {
            font-size: var(--font-xl);
        }

        &__roll {
            margin: 20px 0 40px;
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 0 20px;
            background: #edededff;
            height: 60px;
            animation: scroll 25s linear infinite;
            // animation: name duration timing-function delay iteration-count direction fill-mode;

            &__item {
                font-size: var(--font-l);
                font-weight: lighter;
                text-transform: uppercase;
                white-space: nowrap;
                &::after {
                    content: " x ";
                }
            }
        }
    }

    .reputation {
        padding: 0;
        background: none;

        .offer__cta__btn {
            cursor: pointer;

            background:
                url("/img/arrow_r_bluelight.svg") no-repeat left center,
                var(--cpn-blue);

                &:hover {
                    background:
                        url("/img/arrow_r_blue.svg") no-repeat left center,
                        var(--cpn-blue-light);
                }
        }
    }

    .title-medium {
        margin: 48px 0;
    }

    .building-types-grid {
      grid-template-columns: 1fr 1fr;
      gap: calc(var(--gutter-y) * 0.5) calc(var(--gutter-x) * 0.5);
      padding: 0 calc(var(--gutter-x) * 1);

      &__item {

          &__img {
              height: 395px;
              object-fit: cover;
          }


        &__span {
          width: 50%;
          font-size: var(--font-m);
          font-family: "Open Sans SemiBold";
          text-transform: uppercase;
          color: var(--white);
        }

        &:nth-child(1) {
          &::before {
            content: "";
            height: 50%;
            width: var(--body-max-width);
            position: absolute;
            background: url("../img/brush_offer_1_2.svg") no-repeat left center;
            pointer-events: none;
          }
        }

        &:nth-child(3) {
          &::before {
            content: "";
            height: 50%;
            width: var(--body-max-width);
            position: absolute;
            background: url("../img/brush_offer_3_4.svg") no-repeat left center;
            pointer-events: none;
          }
        }

        &:nth-child(5) {
          &::before {
            content: "";
            height: 50%;
            width: var(--body-max-width);
            position: absolute;
            background: url("../img/brush_offer_5_6.svg") no-repeat left center;
            pointer-events: none;
          }
        }

        &--contact {
            margin: 0;
            z-index: 1;

            .building-types-grid__item__span {
                width: 60%;
                &, strong, span {
                    font-size: var(--font-m);
                }
            }

            div {
                height: 395px;
                /* height: calc(100% - 50px); */
                /* aspect-ratio: 550/367; */
                padding: calc(var(--gutter-y) * 1.5) calc(var(--gutter-x) * 1);
                font-size: var(--font-m);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                p {
                    width: 100%;
                    align-self: start;
                }
            }

          &:hover {
            .building-types-grid__item__span {
              background: url("../img/logo_bars.svg") no-repeat 20px center /
                  20px auto,
                var(--cpn-blue) !important;

              span {
                color: var(--cpn-blue-light);

              }
            }
          }
        }

        &:hover {
          .building-types-grid__item__a {
            background: var(--cpn-blue);
          }
        }
      }
    }
}
