@import "sass_vars";

.hero {
    margin: var(--header-h) 0 0;

    &__title {
        display: block;
        margin: 0 0 24px;
        font-size: var(--font-m-xxl);
        text-transform: uppercase;
        text-align: center;

        strong {
            color: var(--cpn-blue-light);
        }

        &::before {
            /* display: inline-block;
            content: "";
            height: 54px;
            width: 54px;
            background: url(../img/logo_bars3.svg) no-repeat bottom center /
                41px 41px;
            position: relative;
            bottom: -2px;
            left: -15px; */
            content: "";
            display: block;
            height: 61px;
            width: 100vw;
            background: url(../img/logo_bars3.svg) no-repeat center / 51px 51px;
            position: relative;
        }
    }

    &__content {
        padding: calc(var(--gutter-y) * 1.5) calc(var(--gutter-x) * 2)
            calc(var(--gutter-y) * 2);
        text-align: center;
        background:
            url(../img/stroke2m.svg) no-repeat right 20px / 135%,
            var(--cpn-blue);
        color: var(--white);

        &__h1 {
            display: block;

            font-size: var(--font-m-l);
            margin: 0 0 12px;

            strong {
                text-transform: uppercase;
                color: var(--cpn-blue-light);
            }
        }

        &__p {
            display: inline;
            text-align: center;

            strong {
                color: var(--cpn-blue-light);
            }
        }
    }
}

.illustration {
    margin: 0;
    line-height: 0;

    &__img {
        width: 100%;
    }
    margin: 0 0 -30px 0;
}

.slogan {
    display: block;
    padding: 20px;
    text-align: center;
    line-height: 1.75;
    color: var(--cpn-blue-light);
    margin: 0;
    font-size: var(--font-l);

    span {
        display: inline-block;
        color: rgba(0, 0, 0, 0);
        transform-origin: bottom center;
        transform: scale(1.35) translateY(2px);
        margin: 0 10px;
        font-weight: 600;
    }
}

.form-title {
    display: flex;
    align-items: end;
    justify-content: end;
    background:
        url(/img/tab.png) no-repeat,
        linear-gradient(
            90deg,
            transparent 100px,
            var(--cpn-blue) 100px,
            var(--cpn-blue)
        );
    background-size: contain, auto;
    font-size: var(--font-m);
    color: var(--cpn-blue-light);
    text-transform: uppercase;
    padding: 10px 40px 0 100px;
    box-sizing: border-box;
    margin: 0 0 -1px 0;

    &::before {
        display: inline-block;
        content: "";
        width: 20px;
        height: 32px;
        margin: 0 17px 0 0;
        background: url(/img/arrow_d_bluelight.svg) no-repeat top left / 20px
            20px;
    }
}

#multiStepForm {
    padding: 20px 40px;
    background: var(--cpn-blue);
}

.form-step {
    padding: 20px 40px;
    border-bottom: 1px solid var(--gray-d3);
    max-width: 100%;

    &:nth-child(1) {
        background: var(--cpn-blue);

        .step-title {
            color: var(--cpn-blue-light);
        }
    }

    &:nth-child(2) {
        background: var(--white);

        .step-title {
            color: var(--cpn-blue);
        }

        .form-group {
            input,
            select,
            textarea {
                background: var(--gray-d0);
                background: #aaaaaa;

                & + label {
                    transform: translate(10px, 19px);
                    color: var(--white);
                    opacity: 1;
                }

                &:focus,
                &:focus-visible,
                &:not(:placeholder-shown) {
                    & + label {
                        transform: translate(5px, -3px);
                        color: var(--cpn-blue);
                    }
                }
            }
        }
    }

    &:nth-child(3) {
        background: var(--cpn-blue-light);

        .step-title {
            color: var(--white);
        }

        .form-group {
            input,
            select,
            textarea {
                background: var(--white);
                background: pink !important;
                /* outline: none; */

                & + label {
                    transform: translate(10px, 19px);
                    color: var(--cpn-blue);
                    opacity: 1;
                }

                &:focus,
                &:focus-visible,
                &:not(:placeholder-shown) {
                    & + label {
                        transform: translate(5px, -3px);
                        color: var(--cpn-blue);
                    }
                }
            }
        }
    }

    .step-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        cursor: pointer;
        user-select: none;
        position: relative;
        filter: grayscale(1);
        font-size: var(--font-m-l);

        .step-arrow {
            transition: transform 0.3s ease;
            width: 12px;
        }

        &.completed:not(.active-title) {
            filter: none;
            &::before {
                content: "v";
                background: var(--valid-green);
                color: var(--white);
                position: absolute;
                left: -40px;
                height: 30px;
                width: 30px;
                display: grid;
                place-items: center;
                line-height: 0;
                border-radius: 50%;
            }
        }
    }

    .step-content {
        display: none;
    }

    &.active {
        .step-title {
            filter: none;
            .step-arrow {
                transform: rotate(90deg);
            }
        }
        .step-content {
            display: block;
        }
    }
}

.form-group {
    margin: 10px 0 0 0;
    position: relative;

    &.gdpr-group {
        margin: 0;
        align-items: center;
        gap: 0;
        margin: 10px 0 0;

        label {
            margin: 0;
            padding: 0;
            position: static;
        }
    }

    label {
        display: block;
    }

    input,
    select,
    textarea {
        max-width: 100%;
        box-sizing: border-box;
        background: var(--white);
        border: 1px solid var(--form-border);
        margin: 14px 0 0;

        &::placeholder {
            color: transparent;
        }

        & + label {
            pointer-events: none;
            position: absolute;
            top: -2px;
            left: 0;
            transition:
                transform 0.2s,
                font-size 0.2s;
        }

        & + label {
            transform: translate(10px, 19px);
            color: #9c9c9c;
            opacity: 1;
        }

        &:focus,
        &:focus-visible,
        &:not(:placeholder-shown) {
            border: 1px solid transparent;
            outline: none;

            & + label {
                transform: translate(5px, -3px);
                font-size: 0.75em;
                color: white;
                display: inline-block;
                padding: 0 5px;
                opacity: 1;
            }
        }
    }

    select {
        appearance: none;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        background: url("../img/chevron_d_bluelight.svg") no-repeat right 10px
            center / 12px 12px;
        cursor: pointer;
        transition: border-color 0.3s ease;

        &:focus {
            outline: none;
            border-color: #aaa;
        }

        option {
            color: var(--cpn-blue);

            // &: se;
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"] {
        width: 100%;
        padding: 5px;

        border-radius: 20px;
        font-size: 1rem;

        &:focus {
            outline: none;
            border: none;
            border: 1px solid var(--cpn-blue);
        }
    }

    &.radio-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        &.last {
            margin: 0 0 20px 0;
        }

        label:first-child {
            margin-bottom: 0;
            flex-shrink: 0;
        }

        &.group-invalid {
            .radio-options {
                border-left: 5px solid var(--invalid-red);
                padding: 0 0 0 5px;
            }
        }

        .radio-options {
            display: flex;
            gap: 20px;

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 0;
                font-weight: normal;
                cursor: pointer;

                input[type="radio"] {
                    width: auto;
                    margin: 0 5px;
                    accent-color: var(--cpn-blue-light);
                }
            }
        }
    }

    &.gdpr-group {
        display: flex;
        align-items: baseline;

        input[type="checkbox"] {
            margin-top: 3px;
            width: auto;
            accent-color: var(--cpn-blue);

            &.is-invalid {
                // box-shadow: 0 0 5px var(--invalid-red);
                border: 1px solid var(--invalid-red);

                & + label[for="gdpr"] {
                    color: var(--invalid-red);
                }
            }
        }

        label {
            margin-bottom: 0;
            font-weight: normal;
            font-size: 0.85rem; // Slightly smaller text
            cursor: pointer;
        }
    }
}

.required-notice {
    margin: 10px 0;
    text-align: right;
    font-size: var(--font-m-s);
    color: var(--white);
}

textarea {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    font-size: 1rem;

    &:focus {
        outline: none;
        border: none;
        border: 1px solid var(--cpn-blue);
    }
}

.form-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.is-invalid {
    border: 1px solid var(--invalid-red) !important;

    & + label {
        color: var(--invalid-red);
    }
}

.form__hidden {
    display: none !important;
}

.btn-nav {
    border: none;
    background: var(--cpn-blue-light);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

    &.send {
        background: var(--cpn-blue-light);
    }
}
@media (min-width: $bp-medium) {
    .hero {
        &__title {
            margin: 48px 0 0;
            font-size: var(--font-xxl);

            &::before {
                display: inline-block;
                content: "";
                height: 54px;
                width: 54px;
                background: url(../img/logo_bars3.svg) no-repeat bottom center /
                    41px 41px;
                position: relative;
                bottom: -2px;
                left: -15px;
            }
        }

        &__content {
            padding: calc(var(--gutter-y) * 1) calc(var(--gutter-x) * 3);
            background: url("../img/stroke-blue.svg") no-repeat center center;
            background-size: contain;
            font-size: var(--font-l);
            color: var(--cpn-blue);

            &__h1 {
                display: inline;
                font-size: var(--font-l);
                margin: 0;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 40%;
        grid-template-rows: 1fr 1fr 50px;
    }

    .illustration {
        grid-column: 1/-1;
        grid-row: 1/-1;
        margin: 0 0 -40px 0;
    }

    .slogan {
        /* grid-column: 2/3; */
        grid-column: 3/4;
        grid-row: 2/3;

        /* padding: calc(var(--gutter-y) * 0.5) 0 0 calc(var(--gutter-y) * 4); */
        font-size: var(--font-xl);

        span {
            margin: 0 20px;
        }
    }

    .form-title {
        display: flex;
        align-items: end;
        /* justify-content: end; */
        justify-content: start;
        /* grid-column: 2/3; */
        grid-column: 3/4;
        grid-row: 3/4;
        /* padding: 10px calc(var(--gutter-x) * 3) 0 100px; */
        padding: 10px calc(var(--gutter-x) * 0) 0 100px;
        font-size: var(--font-l);

        &::before {
            display: inline-block;
            content: "";
            width: 20px;
            height: 32px;
            margin: 0 17px 0 0;
            background: url(/img/arrow_d_bluelight.svg) no-repeat top left /
                20px 20px;
        }
    }

    #multiStepForm {
        padding: 20px calc(var(--gutter-x) * 3);
        max-width: 100%;

        .rowed {
            display: grid;
            grid-template-columns: 75% 25%;
            justify-content: space-between;
        }
    }

    .form-group {
        display: block;
        align-items: center;

        &.form-row {
            display: flex;
            gap: 20px;

            > .form-group {
                flex: 1;
                margin-bottom: 0;
            }
        }

        &.radio-group {
            flex-direction: row;
            margin: 20px 0 10px 0;
            &.group-invalid {
                .radio-options {
                    border-left: none;
                    border-right: 5px solid var(--invalid-red);
                    padding: 0 5px 0 0;
                }
            }
        }
        input {
            background: var(--form-bg);
        }
    }

    .form-navigation {
        .cta-btn-light {
            height: 46px;
            /* margin: 0 10px 0 0;
            padding: 20px 20px 20px 50px; */
        }
    }
}
