@import "sass_vars";

.hero {
    margin: var(--header-h) 0 0;
    background: url(../img/stroke-quote.svg) no-repeat center center / 120%;

    &__title {
        display: block;
        margin: calc(var(--gutter-y) * 1.5) 0 24px;
        font-size: var(--font-m-xxl);
        text-transform: uppercase;
        text-align: center;

        strong {
            color: var(--cpn-blue-light);
            display: block;
        }

        &::before {
            display: inline-block;
            content: "";
            height: 54px;
            width: 54px;
            background: url(../img/logo_bars3.svg) no-repeat bottom center /
                41px 41px;
            position: relative;
            bottom: -2px;
            left: -15px;
        }
    }

    &__content {
        padding: calc(var(--gutter-y) * 0) calc(var(--gutter-x) * 2)
            calc(var(--gutter-y) * 1);

        &__h1 {
            text-align: center;
            font-size: var(--font-m-l);
        }
        /*
        &__p {
            text-align: center;
            strong {
                color: var(--cpn-blue-light);
            }
        } */
    }
}

#multiStepForm {
    max-width: 100vw;
    /* padding: 20px 40px; */
    background: var(--gray-d0);
}

.form-step {
    padding: 20px 40px;
    /* padding: 10px 0; */
    border-bottom: 1px solid var(--gray-d3);
    max-width: 100%;

    &:nth-child(1) {
        background: var(--cpn-blue);

        .step-title {
            color: var(--cpn-blue-light);
        }
    }

    &:nth-child(2) {
        background: var(--white);

        .step-title {
            color: var(--cpn-blue);
        }

        .form-group {
            input,
            select {
                background: var(--gray-d0);
                background: #aaaaaa;
                /* outline: none; */

                & + label {
                    transform: translate(10px, 19px);
                    color: var(--white);
                    /* color: pink; */
                    opacity: 1;
                    // @media (min-width: $qbp-bp-medium) {
                    //   transform: translate(20px, 19px);
                    // }
                }

                &:focus,
                &:focus-visible,
                &:not(:placeholder-shown) {
                    & + label {
                        transform: translate(5px, -3px);
                        color: var(--cpn-blue);
                    }
                }
            }
        }
    }

    &:nth-child(3) {
        background: var(--cpn-blue-light);

        .step-title {
            color: var(--white);
        }

        .form-group {
            input,
            select {
                background: var(--white);
                /* outline: none; */

                & + label {
                    transform: translate(10px, 19px);
                    color: var(--cpn-blue);
                    opacity: 1;
                }

                &:focus,
                &:focus-visible,
                &:not(:placeholder-shown) {
                    & + label {
                        transform: translate(5px, -3px);
                        color: var(--cpn-blue);
                    }
                }
            }
        }
    }

    .step-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* height: 40px; */
        margin: 0;
        cursor: pointer;
        user-select: none;
        position: relative;
        filter: grayscale(1);
        font-size: var(--font-m-l);

        opacity: 0.25;

        .step-arrow {
            transition: transform 0.3s ease;
            width: 12px;
        }
    }

    .step-content {
        display: none;
        // min-height: 50vh;
    }

    &.active {
        .step-title {
            filter: none;
            opacity: 1;

            .step-arrow {
                transform: rotate(90deg);
            }
        }
        /* .step-content {
            display: block;
        } */
    }

    &.accessible {
        filter: none;
        .step-title {
            /* filter: none; */
            opacity: 1;

            .step-arrow {
                transform: rotate(90deg);
            }
        }

        .step-content {
            display: block;
        }
    }

    &.completed {
        .step-title {
            &::before {
                content: "";
                background: url(/img/valid_step.png);
                background-size: contain;
                position: absolute;
                left: -30px;
                height: 20px;
                width: 20px;
            }
        }
    }
}

.form-group {
    margin: 10px 0 0 0;
    // display: block;
    position: relative;

    &.gdpr-group {
        margin: 0;
        align-items: center;
        gap: 0;
        margin: 10px 0 0;

        label {
            margin: 0;
            padding: 0;
            position: static;
        }
    }

    label {
        display: block;
        // opacity: 0.5;
        // margin: 8px 0;
    }

    input,
    select {
        max-width: 100%;
        box-sizing: border-box;
        background: var(--white);
        border: 1px solid var(--form-border);
        margin: 14px 0 0;

        // super label
        /* &:hover {
            border: 1px solid green;
        } */

        &::placeholder {
            color: transparent;
        }

        & + label {
            // background: red !important;
            pointer-events: none;
            position: absolute;
            top: -2px;
            left: 0;
            transition:
                transform 0.2s,
                font-size 0.2s;
            /* opacity: 0.5; */
        }

        & + label {
            transform: translate(10px, 19px);
            color: #9c9c9c;
            /* color: pink; */
            opacity: 1;
            // @media (min-width: $qbp-bp-medium) {
            //   transform: translate(20px, 19px);
            // }
        }

        &:focus,
        &:focus-visible,
        &:not(:placeholder-shown) {
            /* border: 1px solid var(--cpn-blue-light); */
            border: 1px solid transparent;
            outline: none;

            & + label {
                transform: translate(5px, -3px);
                font-size: 0.75em;
                color: white;
                display: inline-block;
                padding: 0 5px;
                opacity: 1;
                // background: yellowgreen !important;

                // @media (min-width: $qbp-bp-medium) {
                //   transform: translate(20px, 1px);
                // }
            }
        }
        // super label
    }

    select {
        appearance: none;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        background: url("../img/chevron_d_bluelight.svg") no-repeat right 10px
            center / 12px 12px;
        // background-repeat: no-repeat;
        // background-position: right 10px center;
        // background-size: 12px;
        cursor: pointer;
        transition: border-color 0.3s ease;

        &:focus {
            outline: none;
            border-color: #aaa;
        }

        option {
            color: var(--cpn-blue);

            // &: se;
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"] {
        width: 100%;
        padding: 5px;

        border-radius: 20px;
        font-size: 1rem;

        &:focus {
            outline: none;
            border: none;
            // box-shadow: 0 0 7px var(--cpn-blue-light);
            border: 1px solid var(--cpn-blue);
        }

        // &.invalid {
        // box-shadow: 0 0 5px var(--invalid-red);
        // }
    }

    &.radio-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        &.last {
            margin: 0 0 20px 0;
        }

        label:first-child {
            margin-bottom: 0;
            flex-shrink: 0;
        }

        &.group-invalid {
            .radio-options {
                border-left: 5px solid var(--invalid-red);
                padding: 0 0 0 5px;
            }
        }

        .radio-options {
            display: flex;
            gap: 20px;

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 0;
                font-weight: normal;
                cursor: pointer;

                input[type="radio"] {
                    width: auto;
                    margin: 0 5px;
                    accent-color: var(--cpn-blue-light);
                }
            }
        }
    }

    &.gdpr-group {
        display: flex;
        align-items: baseline;
        /* // align-items: flex-start; */
        // gap: 10px;

        input[type="checkbox"] {
            margin-top: 3px;
            width: auto;
            accent-color: var(--cpn-blue);

            &.is-invalid {
                // box-shadow: 0 0 5px var(--invalid-red);
                border: 1px solid var(--invalid-red);

                & + label[for="gdpr"] {
                    color: var(--invalid-red);
                }
            }
        }

        label {
            margin-bottom: 0;
            font-weight: normal;
            font-size: 0.85rem; // Slightly smaller text
            cursor: pointer;
        }
    }
}

.required-notice {
    margin: 10px 0;
    text-align: right;
    font-size: var(--font-m-s);
}

.form-navigation {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* flex-direction: row-reverse; */
    align-items: center;
    margin: 20px 0 0 0;
    gap: 20px;

    /* padding: 0 !important; */

    .send {
        display: none;
        /* padding: 0; */
        /* margin: 0 0 10px 0; */
        transition: all 0.25s;

        &:disabled {
            opacity: 0.2;
            cursor: not-allowed;
        }
    }

    &.accessible {
        .btn-nav.send {
            display: block;
        }
    }
}

.is-invalid {
    border: 1px solid var(--invalid-red) !important;
    // box-shadow: 0 0 3px var(--invalid-red-05);

    & + label {
        color: var(--invalid-red);
    }
}

.form__hidden {
    display: none !important;
}

.btn-nav {
    border: none;
    background: var(--cpn-blue-light);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

    &.send {
        background: var(--cpn-blue);
    }
}

.side {
    /* padding: 60px calc(var(--gutter-x) * 1) 0 60px; */
    padding: 0 40px;

    &__title {
        text-transform: uppercase;

        strong {
            font-family: "Open Sans Bold";
            color: var(--cpn-blue-light);
            text-transform: uppercase;
        }

        & + ul {
            list-style-type: none;
            padding: 0;

            li:nth-child(1) {
                &::before {
                    content: "";
                    display: inline-block;
                    width: 50px;
                    height: 10px;
                    background: var(--cpn-blue);
                    margin: 0 10px 0 0;
                }
            }
            li:nth-child(2) {
                &::before {
                    content: "";
                    display: inline-block;
                    width: 50px;
                    height: 10px;
                    background: var(--cpn-blue-light);
                    margin: 0 10px 0 0;
                }
            }
        }
    }
    &__p {
        & + ul {
            list-style-type: none;
            /* margin: 0; */
            padding: 0;

            li span {
                font-family: "Open Sans Bold";
            }
        }
    }
}
#send-result {
    text-align: center;
    padding: 10px 20px;
    display: none;

    &.success {
        display: block;
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }

    &.error {
        display: block;
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }
}

#sendBtn {
    padding: 0 20px 0 30px;

    &.ended {
        background:
            url(../img/arrow_r_blue.svg) no-repeat 0,
            var(--cpn-blue-light);
        color: var(--cpn-blue);
        pointer-events: none;
    }
}

@media (min-width: $bp-medium) {
    .hero {
        margin: var(--header-h) 0 -30px;
        padding: 0 100px 30px;
        z-index: 1;
        background: url(../img/stroke-quote.svg) no-repeat bottom center / 40%;

        &__title {
            strong {
                display: inline;
            }
        }
    }
    /* .contact-content {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 40px;
        padding: 60px 0 0;
        background: url("../img/stroke-contact.svg") no-repeat no-repeat -100%
            10% / 90% 90%;
    } */

    #multiStepForm {
        padding: 0 40px 20px;
        /* background: var(--white); */
        /* border-radius: 0 60px 60px 0; */
        /* border: 1px solid var(--form-border); */
        border-right: none;
        /* box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.3); */
        /* box-shadow:
            -10px 10px 40px rgba(0, 0, 0, 0.05),
            -3px 3px 8px rgba(0, 0, 0, 0.15); */
    }

    .form-step {
        padding: 20px calc(var(--gutter-x) * 3);
        margin: 0 -40px;

        .step-title {
            font-size: var(--font-l);
        }

        .rowed {
            display: grid;
            grid-template-columns: 75% 25%;
            justify-content: space-between;
            // gap: 20px;
        }

        &.completed {
            .step-title {
                &::before {
                    left: -40px;
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }

    .form-group {
        display: block;
        // display: grid;
        // grid-template-columns: 50% 50%;
        align-items: center;
        /* margin: 0; */

        &.form-row {
            display: flex;
            gap: 20px;

            > .form-group {
                flex: 1;
                margin-bottom: 0;
            }
        }

        &.radio-group {
            flex-direction: row;
            margin: 20px 0 10px 0;
            &.group-invalid {
                .radio-options {
                    border-left: none;
                    border-right: 5px solid var(--invalid-red);
                    padding: 0 5px 0 0;
                }
            }
        }
        input {
            background: var(--form-bg);
        }
    }

    .form-navigation {
        justify-content: center;
        .btn {
            margin: 0 10px 0 0;
            padding: 20px 20px 20px 50px;
        }
    }

    .side {
        padding: 0 calc(var(--gutter-x) * 2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        background: var(--gray-d0);
        box-shadow:
            0 15px 15px rgba(0, 0, 0, 0.15),
            0 6px 6px rgba(0, 0, 0, 0.1),
            0 3px 2px rgba(0, 0, 0, 0.1);

        &__title {
            font-family: "Open Sans Bold";
            color: var(--cpn-blue);
            font-size: var(--font-root);
            font-size: var(--font-m);

            strong {
                color: var(--cpn-blue);
            }
        }

        & > ul {
            display: flex;
        }

        .side__li {
            &::before {
                width: 0 !important;
            }

            font-size: var(--font-m);

            &__a {
                font-family: "Open Sans Bold";
                color: var(--cpn-blue);
                /* font-size: var(--font-m); */
                text-decoration: none;
            }
        }
    }

    #sendBtn {
        padding: 0 20px 0 40px;
    }
}

@media (min-width: $bp-hd) {
    .side {
        padding: 0 calc(var(--gutter-x) * 3);
    }
}
