//==============
//  BREAKPOINTS
//==============
$bp-mobile: 600px;
$bp-medium: 960px;
$bp-hd: 1280px;
$bp-fhd: 1920px;

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    5% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-250%);
    }
}

.section {
    width: var(--body-max-width);

    &__hero {
        display: grid;
        grid-template-areas:
            "image"
            "left"
            "right";
        grid-template-columns: 1fr;
        margin: 20vh 0 0;

        .video {
            grid-area: left;
        }

        &__block {
            /* padding: 65px 40px 75px; */
            text-align: center;
            font-size: var(--font-root);
            color: var(--white);

            &__h1 {
                font-size: var(--font-m-l);
            }

            &--left {
                grid-area: image;
                padding: 40px calc(var(--gutter-x) * 0 + 15%) 70px;
                background: var(--cpn-blue-light) url("../img/stroke1.svg")
                    no-repeat bottom right / 170%;
                font-size: var(--font-m-l);
                font-family: "Open Sans Bold";

                strong {
                    color: var(--cpn-blue);
                }

                .p {
                    text-align: center;
                }
            }

            &--right {
                grid-area: right;
                padding: 40px 0 70px;
                background: var(--cpn-blue);
                /* background: var(--cpn-blue) url(../img/stroke-hero2-m.svg)
                    no-repeat -40vw 10% / 145%; */

                .p {
                    padding: 35px 10% 0;
                    text-align: center;

                    span {
                        display: block;
                        strong {
                            color: var(--cpn-blue-light);
                        }
                    }
                }
            }
        }
    }

    &__numbers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title "
            "number1 number2"
            "number3 number4";
        gap: 24px 0;
        padding: calc(2 * var(--gutter-y));
        /* margin: 0 0 50px; */
        /* padding: 0 20px; */
        box-sizing: border-box;

        &__title {
            grid-area: title;
            margin: 0;
            /* margin: 30px 0 0; */
        }

        &__number {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "Fontin Sans Bold";

            &:nth-child(2) {
                grid-area: number1;
            }

            &:nth-child(3) {
                grid-area: number2;
            }

            &:nth-child(4) {
                grid-area: number3;
            }

            &:nth-child(5) {
                grid-area: number4;
            }

            &__img {
                height: 60px;
            }

            &__digit {
                font-size: var(--font-xxl);
                font-weight: bold;
                color: var(--cpn-blue-light);
            }

            &__text {
                max-width: 75%;
                text-align: center;
                color: var(--cpn-blue);
                font-size: var(--font-s);
                font-weight: bold;
            }
        }
    }

    &__customers {
        padding: var(--gutter-y) var(--gutter-y) 0;
        box-sizing: border-box;

        &__roll {
            margin: 32px 0 0;
            padding: 0;

            text-align: center;

            &__item {
                text-transform: uppercase;
                display: inline-block;
                color: var(--cpn-blue-light);
                margin: 0 4px;

                &:not(:nth-last-child(-n + 2))::after {
                    content: "•";
                    margin: 0 0 0 10px;
                }

                &--dots {
                    display: block;
                    text-align: center;
                }
            }
        }
    }

    &__offer {
        display: flex;
        flex-direction: column;
        color: var(--white);
        text-align: center;

        &__illustration {
            display: block;
        }

        .section__offer__span {
            display: block;

            &--blue {
                color: var(--cpn-blue-light);
            }

            &--p {
                margin: 30px 0 5px;
            }
        }

        &__price {
            background: var(--cpn-blue);
            padding: 30px 50px 0;

            &__title {
                text-transform: uppercase;
                margin: 0;
                padding: 55px 0 0;
                background: url("../img/logo_bars.svg") no-repeat top center /
                    15% auto;
                font-size: var(--font-m-xl);

                strong {
                    font-family: "Open Sans Bold";
                    color: var(--cpn-blue-light);
                }
            }

            &__amount {
                display: block;
                font-family: "Open Sans Bold";
                font-size: var(--font-xl);
                text-transform: uppercase;
                font-weight: 800;
            }

            .small {
                display: block;
                margin: 30px -50px;
                white-space: nowrap;
                text-align: center;
            }
        }
    }

    &__services {
        .p {
            padding: 0 24px 24px;
            text-align: center;
        }

        &__service {
            text-decoration: none;

            &__title {
                margin: 32px 0 16px;
                text-transform: none;
                line-height: 1.1;

                strong {
                    text-transform: uppercase;
                }
            }

            &__img {
                display: block;
                overflow: hidden;
                aspect-ratio: 1/1;
                max-height: 100vw;
            }

            &__p {
                margin: 24px;
                text-align: left;

                &--dots {
                    color: var(--cpn-blue-light);
                }
            }

            &__button-container {
                margin: 24px 0;
                text-align: center;
            }
        }

        hr {
            display: block;
            height: 1px;
            border: none;
            width: 20%;
            margin: 36px auto;
            background: var(--cpn-blue-light);

            &:nth-child(6) {
                display: none;
            }
        }

        .cta-btn-blue {
            margin: 24px auto 0;
        }
    }
}

.video {
    width: 100%;
    max-width: 100%;
    grid-area: image;
}

@media (min-width: $bp-medium) {
    .fixed {
        order: 1;
    }
    .header {
        order: 2;
    }
    .section {
        &__hero {
            order: 3;
            grid-template-areas:
                "image image"
                "left right";
            grid-template-columns: 50% 50%;
            margin: var(--header-h) 0 0 0;

            .video {
                grid-area: image;
                aspect-ratio: 22/9;
                object-fit: cover;
            }

            &__block {
                padding: 110px 60px;
                font-size: var(--font-l);

                &__h1 {
                    font-size: var(--font-m);
                    padding: 0 10% 0;
                    margin: 0;
                    padding: 0;

                    br {
                        display: none;
                    }

                    + .p {
                        padding: 0;
                    }
                }

                &--left {
                    background: var(--cpn-blue-light);
                    /* display: flex;
                    flex-direction: column;
                    justify-content: center; */
                    grid-area: left;
                    text-align: left;
                    font-size: var(--font-l2);
                    /* padding: var(--gutter-y) var(--gutter-x); */
                    padding: var(--gutter-x);

                    .p {
                        transform: translateY(-7px);
                        text-align: left;

                        strong {
                            text-transform: uppercase;
                        }
                    }
                }

                &--right {
                    background: var(--cpn-blue);
                    text-align: left;
                    padding: var(--gutter-x);

                    .p {
                        /* padding: 35px 10% 0; */
                        font-size: var(--font-m);
                        text-align: left;

                        span {
                            display: inline;
                            /* strong {
                                color: var(--cpn-blue-light);
                            } */
                        }
                    }
                }
            }
        }

        &__numbers {
            order: 4;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "title title title title"
                "number1 number2 number3 number4";
            padding: 48px 0;
            gap: 48px 24px;

            &__title {
                /* &.title {
                    margin: 50px 0 0;
                    font-size: var(--font-xl);
                    text-transform: uppercase;
                } */
            }

            &__number {
                &__img {
                    height: 80px;
                }

                &__digit {
                }

                &__text {
                    font-size: var(--font-root);
                    line-height: 1.1;
                }
            }
        }

        &__offer {
            order: 6;
            display: grid;
            /* grid-template-areas: */
            /* "image image" "left right"; */
            /* grid-template-columns: 50% 50%; */
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            /* position: relative; */

            &__illustration {
                width: 100%;
                /* grid-column: 1; */
                grid-area: 1 / 1 / 2 / 2;
            }

            &__price {
                /* grid-column: 2; */
                grid-area: 1 / 2 / 2 / 3;
                display: flex;
                flex-direction: column;
                justify-content: center;
                /* height: 600px; */

                &__title {
                    flex-grow: 1;
                    margin: 24px 0 -72px;
                    padding: 72px 0 0;
                    justify-content: end;
                    font-size: var(--font-xxl);
                    font-weight: 300; // TODO marche avec gecko
                    background: url("../img/logo_bars.svg") no-repeat top
                        center / 10% auto;
                }

                .t1 {
                    margin: 20px 0 0;
                    font-size: var(--font-l);
                }

                .t2 {
                    font-size: var(--font-m);
                }

                &__amount {
                    font-size: var(--font-xxl);
                    /* font-weight: 800; */
                }

                .p {
                    /* background: red; */
                    flex-grow: 1;
                    justify-content: end;
                    display: flex;
                    flex-direction: column;
                }

                .small {
                    font-size: var(--font-s);
                    padding: 0 0 24px;
                }
            }

            &__strike {
                /* height: 100%; */
                pointer-events: none;
                /* height: 20px; */
                background: url("../img/stroke2.svg") no-repeat 30% 80% / 150%
                    auto;
                opacity: 0.5;

                grid-column: 1 / -1; // S'étend sur toute la largeur
                grid-row: 1; // Même ligne que les contenus
                /* pointer-events: none; */
                z-index: 10;
            }
        }

        &__customers {
            order: 5;
            width: var(--body-max-width);
            padding: var(--gutter-y) var(--gutter-x);
            background: #eeeeee;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: var(--gutter-y);

            .title {
                font-size: var(--font-xl);
            }

            &__p {
                /* margin: var(--gutter-x); */
                font-size: var(--font-l);
            }

            &__container {
                background: var(--cpn-blue-light);
                margin: 0 calc(-1 * var(--gutter-x));
            }

            &__roll {
                margin: 20px 0;
                list-style-type: none;
                display: flex;
                align-items: center;
                background: var(--cpn-blue-light);

                height: 60px;
                animation: scroll 40s linear infinite;

                &__item {
                    font-family: "Open Sans Light";
                    font-size: var(--font-l);
                    text-transform: uppercase;
                    white-space: nowrap;
                    color: white;

                    /* &:not(:nth-last-child(-n + 2))::after {
                        content: "•";
                        margin: 0 10px;
                    } */
                }
            }
        }

        &__services {
            order: 7;
            width: var(--body-max-width);
            /* background: gray; */
            /* display: grid; */
            /* grid-templates-columns: 1fr 1fr 1fr; */
            /* grid-templates-columns: repeat(3, 1fr); */
            display: flex;
            flex-direction: column;
            padding: 24px 0;
            /* gap: 24px; */

            /* padding: var(--gutter-y) var(--gutter-x); */
            box-sizing: border-box;

            &__container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                /* grid-template-columns: 1fr 1fr 1fr; */
                gap: 0 48px;
                background: #eeeeee;
                /* margin: 48px calc((var(--body-max-width) - 100vw) / 2) 0;
                padding: 32px calc((100vw - var(--body-max-width)) / 2); */
                margin: 48px 0 0;
                padding: 32px var(--gutter-x);
            }

            .p {
                padding: 0 var(--gutter-x);
                font-family: "Open Sans Bold";
                line-height: 1.75;
            }

            .title-big {
                margin: 24px;
                margin-top: 31px;
                padding: 0;
            }

            .title-big,
            .section__services__service__button-container,
            & > .p {
                grid-column: 1/4;
            }

            .title-big + .p {
                font-size: var(--font-l);
                text-align: left;

                strong {
                    color: var(--cpn-blue-light);
                    text-transform: uppercase;
                }
            }

            &__service {
                display: flex;
                flex-direction: column;
                /* height: 100%; */
                /* max-width: 100%; */
                /* width: 100%; */
                overflow: hidden;

                &__title {
                    flex-shrink: 0;
                    font-size: var(--font-m);
                    text-transform: uppercase;
                    white-space: nowrap;
                    /* overflow: hidden; */
                    /* width: 100%; */
                    /* height: 40px; */
                    /* display: flex;
                    flex-direction: column;
                    align-items: center; */
                    margin: 20px 0 16px;

                    br {
                        display: none;
                    }

                    strong {
                        margin: 0 8px 0 0;
                    }
                }

                &__img {
                    margin: 0;
                    object-fit: cover;
                    width: 100%;
                }
                &__p {
                    margin: 0;
                    padding: 16px 0;
                    font-size: var(--font-m);
                }
            }

            hr {
                display: none;
            }

            .cta-btn-blue {
                margin: 13px auto 0;
            }
        }
    }

    .footer {
        order: 8;
    }
}
