{{ define "head" }}
{{ partial "head.html" (dict "page" . "css" "page-about") }}
{{ end }}

{{ define "additional-js" }}
{{ partial "additional-js.html" "about" }}
{{ partial "additional-js.html" "carrousel" }}
{{ end }}

{{ define "main" }}

<div class="hero">
    <span class="hero__title">{{ .Params.h0 | markdownify }}</span>
    <div class="hero__content">
        <h1 class="hero__content__h1">{{ .Params.h1 | markdownify }}</h1>
        <p class="hero__content__p">{{ .Params.intro | markdownify }}</p>
    </div>
</div>

<div class="team">

    <div class="members carrousel">
    {{ $page := . }}
    {{ range .Params.membre }}

    {{ $img :=  $page.Resources.GetMatch (printf "medias/%s" .src) }}
    {{ $mobileImg := $img.Fill "85x235 webp q85 top" }}
    {{ $desktopImg := $img.Fit "140x346 webp q99" }}
    <picture class="members__pict carrousel__item">
        <source
            media="(min-width: 768px)"
            srcset="{{ $desktopImg.RelPermalink }}"
        />
        <img
            class="members__img"
            src="{{ $mobileImg.RelPermalink }}"
            alt="r"
        />
    </picture>
    {{ end }}
    </div>

    {{ with .Params.equipe }}
    {{ $equipe := index . 0 }}

    <h2 class="team__title">
        <span
            style='
                background: url("{{ $equipe.titreImage1 | markdownify }}") no-repeat center /
                    contain;
            '
            >Nos</span
        >
        superviseurs :
        <span
            style='
            background: url("{{ $equipe.titreImage2 | markdownify }}") no-repeat center /
                contain;
        '
            >votre</span
        >
        relais de confiance sur le terrain
    </h2>

    <div class="team__content">
        <div class="team__content__left">
            {{ $equipe.texte1 | markdownify }}
        </div>
        <div class="team__content__right">
            {{ $equipe.texte2 | markdownify }}
            <p>
                {{ $equipe.texte2b | markdownify }} {{ $equipe.tel | markdownify
                }}
            </p>
            {{ $equipe.jointure | markdownify }}
            <a
                href="{{ $equipe.mail | markdownify
            }}"
                >{{ $equipe.mail | markdownify }}</a
            >
            <p>{{ $equipe.texte2c | markdownify }}</p>
        </div>
    </div>
    {{ end }}
</div>

<div class="bosses">
    {{ range .Params.responsable }}
    <div class="boss">
        <div class="boss__pict__container boss__pict__container--left">
            <img
                src="{{ .photoSrc | markdownify }}"
                alt="{{ .photoAlt | markdownify }}"
                title="{{ .photoTitle | markdownify }}"
                class="boss__pict__container__img"
            />
        </div>
        <div class="boss__content">
            <h2 class="boss__title">
                <span>{{ .titreP1 | safeHTML | markdownify }}</span>
                <span>{{ .titreP2 | safeHTML | markdownify }}</span>
            </h2>
            <p class="boss__content__p">{{ .texte | markdownify }}</p>
            <p class="boss__content__contact">
                {{ .contactTexte | markdownify }}
                <a href="mailto:{{ .mail | markdownify }}"
                    >{{ .mail | markdownify }}</a
                >
            </p>
        </div>
    </div>
    {{ end }}
</div>

<div class="engagements">
    {{ with .Params.engagemments }} {{ $engagemments := index . 0 }}
    <h2 class="engagements__title title-medium">
        {{ $engagemments.titre | markdownify }}
    </h2>
    <div class="engagements__p">{{ $engagemments.texte | markdownify }}</div>
    {{ end }}
    <div class="engagements__grid">
        {{ range .Params.engagemment }}
        <div class="engagements__grid__item">
            <img
                class="engagements__grid__item__img"
                src="{{ .photoSrc }}"
                alt="{{ .photoAlt }}"
                title="{{ .photoTitle }}"
            />
            <p>
                <strong>{{ .titre }}</strong><br />
                {{ .texte }}
            </p>
        </div>
        {{ end }}
    </div>
</div>

<div class="big-buttons">
    <a class="cta-btn-light left" href="/devis-gratuit-sous-24h/">
        Devis&nbsp;<span class="b">gratuit sous 24h</span>
    </a>
    <a class="cta-btn-blue right" href="/nous-contacter/">
        Pressé(e)&nbsp;?&nbsp;<span class="b">Contactez-nous&nbsp;!</span>
    </a>
</div>
<div class="contacts">
    Email: <a href="mailto:info@copronetpropre.fr">info@copronetpropre.fr</a> ou
    par téléphone : <a href="tel:0153110858">01 53 11 08 58</a>
</div>
{{ end }}
