{{ define "head" }}
{{ partial "head.html" (dict "page" . "css" "blog-post") }}
{{ end }}

{{ define "additional-js" }}
{{ partial "additional-js.html" "lightbox" }}
{{ end }}

{{ define "main" }}

<a class="widget-title" href="/blog/">
    <strong>Copronet</strong> Inside
</a>

<main class="post">
    <h1 class="post__title">{{ .Params.h1 | markdownify }}</h1>
    <time class="post__date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2 January 2006" }}</time>

    {{ if not .Params.categories }}
      <span class="hero__cat categories__item">
        {{ range .Params.categories }}
          <a class="categories__item__a" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="post__category-link">
            {{ . | title }}
          </a>
        {{ end }}
      </span>
    {{ end }}



    <div class="post__picts gallery">
    {{ range .Params.image }}
        {{ $desktopImg :=
        $.Resources.GetMatch (printf "medias/%s" .src_desktop) }} {{ $mobileImg
        := $.Resources.GetMatch (printf "medias/%s" .src_mobile) }} {{ if and
        $desktopImg $mobileImg }}

        {{ $desktopImg = $desktopImg.Resize "552x webp" }}
        {{ $mobileImg = $mobileImg.Resize "440x webp" }}
        <a class="post__picts__a" {{ if .src_desktop }} href='{{ $desktopImg.RelPermalink }}' {{ else }} {{ errorf "L'image src_desktop n'est pas définie" }} {{ end }} {{ if .src_mobile }} data-mobileSrc="{{ $mobileImg.RelPermalink }}" {{ end }}>
        <picture class="post__picts__pict">
            <source
                media="(min-width: 768px)"
                srcset="{{ $desktopImg.RelPermalink }}"
            />
            <img
                class="post__picts__pict__img"
                src="{{ $mobileImg.RelPermalink }}"
                alt="{{ .alt }}"
                title="{{ .title }}"
            />
        </picture>
        </a>
        {{ end }}
    {{ end }}
    </div>


    <div class="post__summary">{{ .Params.summary | markdownify }}</div>
    <div class="post__text">{{ .Params.texte | markdownify }}</div>
    <div class="post__author">{{ .Params.auteur | markdownify }}</div>

    {{ with .Params.tags }}
    <div class="post__tags">
        {{ range . }}
        <a href="/tags/{{ . | urlize }}" class="article__tag">#{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
</main>

<div class="widget-title" href="/blog/">
    <strong>Lire</strong> d'autres articles
</div>

{{ if .Params.related_posts  }}
<section class="related">
    <div class="related-posts">
      <div class="related-posts__container carrousel">
        {{ range .Params.related_posts }}
          {{ $slug := . }}
          {{ $found := where $.Site.RegularPages ".Params.slug" $slug }}
          {{ if $found }}
            {{ range $found }}
                <div class="carrousel__item">
              {{ partial "post-card.html" . }}
                </div>
            {{ end }}
          {{ else }}
            <!-- En dev, affiche les slugs manquants -->
            {{ if hugo.IsServer }}
              <div class="related-posts__error">
                ⚠️ Article non trouvé : "{{ $slug }}"
              </div>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
      <div class="controls">
          <div class="controls__btn"></div>
          <div class="controls__btn r"></div>
      </div>
    </div>
</section>
{{ end }}

  {{ end }}
