<footer class="footer">
    <div class="footer__background"></div>
    <div class="footer__icons">
        <div class="footer__icons__icon">
            <img
                src="/img/icon_specific.svg"
                alt=""
                class="footer__icons__icon__img mobile"
            />
            <img
                src="/img/icon_specific_inv.svg"
                alt=""
                class="footer__icons__icon__img desktop"
            />
            <p class="footer__icons__icon__text">
                Des prestations<br />sur-mesure
            </p>
        </div>
        <div class="footer__icons__icon">
            <img
                src="/img/icon_super.svg"
                alt=""
                class="footer__icons__icon__img mobile"
            />
            <img
                src="/img/icon_super_inv.svg"
                alt=""
                class="footer__icons__icon__img desktop"
            />
            <p class="footer__icons__icon__text">
                Un.e superviseur.se<br />impliqué.e
            </p>
        </div>
        <div class="footer__icons__icon">
            <img
                src="/img/icon_contact.svg"
                alt=""
                class="footer__icons__icon__img mobile"
            />
            <img
                src="/img/icon_contact_inv.svg"
                alt=""
                class="footer__icons__icon__img desktop"
            />
            <p class="footer__icons__icon__text">
                Une adresse mail et un téléphone uniques
            </p>
        </div>
        <div class="footer__icons__icon">
            <img
                src="/img/icon_env.svg"
                alt=""
                class="footer__icons__icon__img mobile"
            />
            <img
                src="/img/icon_env_inv.svg"
                alt=""
                class="footer__icons__icon__img desktop"
            />
            <p class="footer__icons__icon__text">
                Des produits<br />respectueux
            </p>
        </div>
    </div>

    <div class="footer__logo">
        <img
            class="footer__logo__img"
            src="/img/logo_inverted.svg"
            alt="Copronet logo"
            title="Copronet"
        />
        <img
            class="footer__logo__baseline"
            src="/img/baseline_desktop.svg"
            alt="Copronet logo"
            title="Copronet"
        />
    </div>

    <div class="footer__links">
        <ul
            class="footer__links__section footer__links__section--a footer__links__ul"
        >
            <li class="footer__links__li">
                <a href="" class="footer__links__li__a">Nos connaître</a>
            </li>
            <li class="footer__links__li">
                <a href="" class="footer__links__li__a">Nos services</a>
            </li>
            <li class="footer__links__li">
                <a href="" class="footer__links__li__a">Notre offre</a>
            </li>
            <li class="footer__links__li">
                <a href="/blog" class="footer__links__li__a">Blog</a>
            </li>
            <li class="footer__links__li footer__links__li--big">
                <a href="/blog" class="footer__links__li__a">Une question ?</a>
            </li>
        </ul>

        <ul
            class="footer__links__section footer__links__section--b footer__links__ul"
        >
            <li class="footer__links__li">
                <a href="" class="footer__links__li__a">Mentions légales</a>
            </li>
            <li class="footer__links__li">
                <span class="mobile">&nbsp;-&nbsp;</span
                ><a href="" class="footer__links__li__a">Crédits</a>
            </li>
        </ul>

        <div class="footer__links__section footer__links__section--c">
            <h3 class="footer__links__section__title">Nous contacter</h3>
            <ul class="footer__links__ul">
                <li class="footer__links__li">
                    <a href="tel:0153110858" class="footer__links__li__a"
                        >Tél. 01 53 11 08 58</a
                    >
                </li>
                <li class="footer__links__li">
                    du lundi au vendredi<br />
                    9:00 - 13:00<br class="mobile" /><span class="desktop"
                        >&nbsp;/&nbsp;</span
                    >14:00 - 17:00
                </li>
                <li class="footer__links__li desktop">
                    <a
                        href="mailto:info@copronetproprete.fr"
                        class="footer__links__li__a"
                        >info@copronetproprete.fr</a
                    >
                </li>
            </ul>
        </div>

        <div class="footer__links__section mobile">
            <a
                href="mailto:info@copronetproprete.fr"
                class="footer__links__li__a"
                >info@copronetproprete.fr</a
            >
        </div>

        <div class="footer__links__section footer__links__section--d">
            <div class="footer__links__section__button-container mobile">
                <a class="cta-btn-light" href="{{ "devis-gratuit-sous-24h" | relURL }}"
                    >Devis <strong>gratuit sous 24h</strong></a
                >
            </div>

            <a class="free-quote desktop" href="{{ "devis-gratuit-sous-24h" | relURL }}">
                <span class="w1">Demandez</span><span class="w2">un devis</span><span class="w3">gratuit</span
                ><span class="w4"><span>s</span><span>o</span><span>u</span><span>s</span><span>&nbsp;</span><span>2</span><span>4</span><span>h</a
            >
        </div>
    </div>
</footer>
